body {
  margin: 0;
  background-color: rgb(59, 58, 58);
}

#board {
  width:100%;
  height: 100vh;
  position: relative;    /*  all children are positioned relative to that element   */
}

#canvas {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;   /*  first parent that has "relative" will be referenced to   */
  background-color: #848284;
}
